@charset "utf-8";
/* CSS Document */
*{margin:0; padding:0;}
body{ background-color:#ededed; font-family:"楷体"; font-size:16px; color:#a5a5a5;}
.header{
	width:980px;
	margin:0 auto 7px;
	height:86px;
	line-height:86px;
	text-align:center;
	font-family:"微软雅黑";
	color:#a5a5a5;
}
.header h1{ font-weight:normal;}
.header strong{
	font-weight:normal;
	font-size:30px;
}
.header em{
	font-style:normal;
	font-size:14px;
}
/*fenlei*/
.fenlei{
	width:980px;
	margin:0 auto;
}
.fenlei h2{
	font-size:14px; 
	font-family:"微软雅黑"; 
	color:#a5a5a5; 
	height:42px; 
	line-height:42px;
	}
.fenlei p{
	line-height:30px; 
	text-align:center; 
	font-size:18px;
	}

/*bestseller*/
.bestseller{
	width:602px; 
	margin:0 auto;
}
.bestseller .txt{
	line-height:30px; 
	text-indent:2em;
	}
.bestseller .txt em{
	font-style:normal; 
	text-decoration:underline;
	}
.shouhou{
	width:602px; 
	margin:0 auto;
	text-align:center; 
	font-family:"微软雅黑"; 
	font-size:16px; 
	font-weight:bold;
	}
.boss{
	width:602px; 
	margin:0 auto;
}
.boss h3,.boss p{ text-indent:2em;}
.boss h3{
	height:30px; 
	line-height:30px; 
	font-family:"微软雅黑"; 
	font-size:18px; 
	font-weight:normal;
	}
.boss p{
	font-style:italic; 
	line-height:26px; 
	font-size:14px;
	}