.classify-title a {
    height: 42px;
    line-height: 42px;
    font-size: 14px;
    font-family: "微软雅黑";
    font-weight: bold;
    color: #a5a5a5;
    text-transform: uppercase;
    text-decoration: none;
}

.classify-title a:hover {
    color: #6A768E;
}

.classify-img {
    margin: 0px 2px 20px 2px;
    height: 434px;
    width: 976px;
}


.classify-text p {
    line-height: 30px;
    text-align: center;
    font-size: 18px;
}