.footer {
    width: 602px;
    margin: 20px auto;
}

.footer-title {
    height: 30px;
    line-height: 30px;
    font-family: "微软雅黑";
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.footer-title a {
    text-transform: uppercase;
    text-decoration: none;
    font-family: "微软雅黑";
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: #a5a5a5;
}

.footer-user {
    margin-top: 20px;
}

.footer-user-img {
    float: left;
    margin-right: 30px;
    width: 92px;
    height: 92px;
}

.footer-user-text {
    padding-top: 6px;
    font-style: italic;
    line-height: 26px;
    font-size: 14px;
}