.post-5 {
    /* 默认隐藏 */
    display: none;
}

.pdf {
    float: right;
    width: 64%;
    margin-top: 1rem;
    margin-right: 1rem;
    height: 96%;
    border-radius: 6.25rem;
    box-shadow: 0 0 1rem .125rem #ffffff;
}

.about-5 {
    position: absolute;
    left: 3%;
    top: 5%;
    width: 30%;
    height: 90%;
}

.about-5>h1 {
    position: absolute;
    font-size: 2.8rem;
    top: 5%;
    left: 5%;
}

.about-5>video {
    position: absolute;
    top: 1%;
    left: 24%;
    width: 66%;
    border-radius: 2.5rem;
    box-shadow: 0 0 .3125rem .125rem #ffffff;
}

.musicPlayer5 {
    position: absolute;
    bottom: 1%;
    left: 5%;
    width: 86%;
    height: 24%;
}

.musicPlayer5>img {
    position: absolute;
    top: 10%;
    left: 5%;
    width: 40%;
    /* 播放旋转动画 */
    -webkit-transform: rotate(360deg);

    animation: rotation 6s linear infinite;

    -moz-animation: rotation 6s linear infinite;

    -webkit-animation: rotation 6s linear infinite;

    -o-animation: rotation 6s linear infinite;
}

@-webkit-keyframes rotation {

    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
    }

}

.musicPlayer5>div {
    position: absolute;
    top: 10%;
    right: 3%;
    width: 50%;
    height: 90%;
    text-align: center;
}

.musicPlayer5>div>h1 {
    line-height: 5rem;
    font-size: 2.5rem;
}

.musicPlayer5>div>p {
    font-size: 1rem;
}

