*{margin:0;padding:0;border:0;list-style: none;}
body{font-family: "微软雅黑";font-size: 16px;}
a{text-decoration: none;color:#fff;}
.header{
	width:100%;
	height: 86px;
	background: url(../images/top.jpg) repeat-x;
}
.header_in{
	width:980px;
	margin:0 auto;
	position: relative;
}
.header_in .left{
	position: absolute;
	left:0;
	top:5px;
}
.header_in .right{
	position: absolute;
	right:78px;
	top:13px;
}
.nav{
	width:900px;
	height:74px;
	margin:0 auto;
	padding-left: 80px;
	background: url(../images/navbg.png) no-repeat;
} 
.nav ul li{
	float: left;
	line-height: 45px;
	width:100px;
	height:48px;
	text-align: center;
	
}
.nav ul li a{
	display: block;
	width:100px;
	height:48px;
}
.nav ul li:hover{
	background: url(../images/pic03.png) no-repeat;
}
.nav ul li.last{
	background:url(../images/pic03.png) no-repeat;
}
.banner{
	width:980px;
	height:330px;
	margin:0 auto;
	background: url(../images/banner.jpg) no-repeat;
}
.content{
	width:980px;
	height:985px;
	margin:0 auto;
	background:#f5f5f5; 
}
.content .top{
	width:945px;
	height:26px;
	padding:5px 0 0 35px;
	color:#edf7d8;
	background: url(../images/pic01.jpg) no-repeat;
}
.content .con{
	padding:50px 0 45px 250px;
}
td{ 
	height:50px; 
	color:#89b52a;
}
tr .left{
	width:120px; 
	text-align:right;
}
tr .right{
	width:310px; 
	height:28px; 
	padding-left: 10px;
	border:1px solid #89b52a;
}
input{vertical-align:middle;}
select{
	width:171px; 
	border:1px solid #89b52a; 
	color:#89b52a;
}
textarea{
	width:380px; 
	border:1px solid #89b52a; 
	resize:none; 
	font-size:12px; 
	color:#aaa; 
	padding:20px;
}
.btn{
	margin-top: 40px;
	width:500px; 
	height:40px;
	color:#edf7d8; 
	font-size: 20px;
	/* font-weight: bold; */
	font-family: "微软雅黑";
	background:url(../images/pic02.png) center center no-repeat;
}
.footer{
	width:100%;
	height: 86px;
	padding-top: 45px;
	background: #ccc;
	text-align: center;
	color:#fff;
}