body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#app {
  width: 100vw;
  height: 100vh;
}

.star {
  animation: move 20s linear infinite;
}

.shootingStar {
  animation: dash 0.7s ease;
}

@keyframes move {
  from {
    transform: translate(0%, 0%);
  }

  to {
    transform: translate(-100%, 100%);
  }
}

@keyframes dash {
  to {
    stroke-dashoffset: -227.62;
  }
}

/* ------------------------------------ */

h1 {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#happy {
  position: fixed;
  top: 25%;
  left: 50%;
  margin-left: -108px;
  font-size: 54px;
  color: white;
  overflow: hidden;
  white-space: nowrap;
  animation: w 3s steps(4) forwards;
}

@keyframes w {
  0% {
    width: 0;
  }

  100% {
    width: 216px;
  }
}

#name {
  position: fixed;
  top: 38%;
  left: 50%;
  margin-left: -80px;
  font-size: 40px;
  color: white;
  overflow: hidden;
  white-space: nowrap;
  animation: m 3s steps(4) forwards;
}

@keyframes m {
  0% {
    width: 0;
  }

  100% {
    width: 160px;
  }
}

/* ------------------------------------ */

@-webkit-keyframes rotation {

  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
  }

}

#cake {
  position: fixed;

  top: 50%;
  left: 50%;

  margin-left: -120px;

  width: 240px;
  height: 240px;

  -webkit-transform: rotate(360deg);

  animation: rotation 3s linear infinite;

  -moz-animation: rotation 3s linear infinite;

  -webkit-animation: rotation 3s linear infinite;

  -o-animation: rotation 3s linear infinite;

}